.oldModel .c{width: 1200px;}
.oldModel .top{height: 260px;}
.oldModel .top .c{overflow: initial;}
.oldModel .top .ss{width: 50%; float: none;}
.oldModel .lb{width: 100%; height: 600px;}
.oldModel .xwfbh_l{width: 1200px; height: 600px;}
.oldModel .nrtitle{font-size: 58px; line-height: 1.5;  font-weight: bold;}
.oldModel .xx_time{font-size: 28px;}
.oldModel .xx_ly{font-size: 28px;}
.oldModel .xx_zh{font-size: 28px;}
.oldModel .nrtxt{font-size: 32px; line-height: 2;}
.oldModel .nrfj{font-size: 20px; line-height: 1.5;}
.oldModel .xxlist_l_bg{display: none;}
.oldModel .tab-ul_top{display: block;}